:root{
--padding-horizontal:50px;
--primary-color:#4C243B;
--secondary-color:#00FFFF;
font-family: "Kanit", sans-serif;
}


nav{
display:flex;
justify-content:space-between;
padding-left:var(--padding-horizontal);
background-color:aqua;
align-items:center;
padding-right:50px;

}

nav >h1{
padding-left:50px;

}

body,p,h1,h2,h3,h4,h5,h6{
margin:0;
}

nav >div >a{
align-items:center;
text-decoration:none;
justify-content:center;
margin-left:1px;
padding-right:10px;
color:#00FFFF;
}


#HomeSection{
display:flex;
align-items:center;
height:80vh;
padding-left:50px;
padding-right:50px;
gap:80px;
padding-bottom:80px;
}

/*noinspection CssInvalidPropertyValue*/
#HomeSection >div >h1{
color:var(--primary-color);
font-size:50px;
font-weight:20px;
}

#HomeSection >img{
border-radius:50%;
width:250px;
height:250px;
padding-right:var(--padding-horizontal);
}


#HomeSection >div >p{
color:var(--primary-color);
text-align:center;
padding:15px;
}

#HomeSection >div >button{
all:unset;
background-color:var(--secondary-color);
border-radius:100px;
    padding: 6px 20px;
    transition:2s;
}

#HomeSection >div >button:hover{
all:unset;
background-color:var(--secondary-color);
border-radius:100px;
    padding: 6px 20px;
    cursor:pointer;
color:blue;
}

#HomeSection >div >button > a{
text-decoration:none;
}


#WorkSection > h1{
align-items:center;
color:var(--primary-color);
padding-right:300px;
padding-left:300px;


}

#WorkSection > p{
color:var(--primary-color);
    padding: 10px 50px;
}



.cards-container{
display:flex;
justify-content:center;
gap:20px;
margin-top:50px;
padding-bottom:100px;
}

.card{
background-color:aqua;
width:250px;
padding:15px;
border-radius:10px;
text-align:center;

}

.card >img{
border-radius:50%;
width:100%;
height:auto;

}


.card >button{
all:unset;
background-color:var(--primary-color);
border-radius:100px;
    padding: 6px 20px;
    transition:2s;
}

.card >button:hover{
all:unset;
background-color:var(--secondary-color);
border-radius:100px;
    padding: 6px 20px;
    cursor:grab;
color:tomato;
}

